.nav-item:hover {
    background-color: purple !important;
    border-radius: 17px;
}

.nav-item:hover .nav-link {
    color: white !important;
}

.active {
    color: red !important;
    font-weight: bold;
}

.show-product-card,
.cart-cards {
    transition: 0.6s ease-in-out;
}

.show-product-card:hover,
.cart-cards:hover {
    transform: scale(1.1);
    transition: 0.6s ease-in-out;
}

.cart-count {
    position: fixed !important;
    transition: 0.5s ease-in-out;
}

.cart-count:hover {
    background: rgba(0, 0, 0, 0.723) !important;
    color: white !important;
    transition: 0.5s ease-in-out;
}

.page-item:hover {
    cursor: pointer;
}

.page-link:hover {
    background-color: orange !important;
    color: black !important;
}

@media only screen and (max-width:653px) and (min-width:280px) {
    .cart-count {
        position: fixed;
        top: 80px;
        z-index: 1;
    }

    .navbar {
        z-index: 2;
    }

    .cart-items-col {
        margin-top: 117px !important;
    }

    .nav-item {
        width: 70px !important;
        padding: 5px !important;
    }
}