.nav-item:hover {
    background-color: purple !important;
    border-radius: 17px;
}

.nav-item:hover .nav-link {
    color: white !important;
}

.active {
    color: red !important;
}

.show-product-card:hover {
    transform: scale(1.1);
}

.cart-count {
    position: fixed !important;
}

@media only screen and (max-width:653px) and (min-width:280px) {
    .cart-count {
        position: fixed;
        top: 80px;
        z-index: 1;
    }

    .navbar {
        z-index: 2;
    }

    .cart-items-col {
        margin-top: 117px !important;
    }
}